__pycache__
.ipynb_checkpoints
*.swp
MCcubed
*.pyc
.DS_Store
WASP12b_special
masterfile.ecsv
docs/build
Decorrelation-ch1.py
Decorrelation-ch2.py
Decorrelation-ch1-bliss.py
Decorrelation-ch2-bliss.py
